<nav class="navbar navbar-expand-xl navbar-light bg-gradient-x fixed-top">
  <div class="container align-items-center">
    <h1 class="me-232 d-flex align-items-center">
      <a class="navbar-brand ff-shrik text-white fz-32" href="#">ALPHABOX+</a>
    </h1>

    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav align-items-center">
        <a
          class="nav-link px-5 link-light text-nowrap active"
          aria-current="page"
          href="#"
          >產品</a
        >
        <a class="nav-link px-5 link-light text-nowrap" href="#">關於我們</a>
        <a class="nav-link px-5 link-light text-nowrap" href="#">最新消息</a>
        <a class="nav-link px-5 link-light text-nowrap" href="#">FAQ</a>
        <a class="nav-link px-5 link-light text-nowrap" href="#">聯絡我們</a>
      </div>
      <div class="navbar-nav align-items-center">
        <a
          class="nav-link px-3 link-light text-nowrap active"
          aria-current="page"
          href="#"
          >註冊</a
        >
        <a class="nav-link px-3 link-light text-nowrap" href="#">登入</a>
        <a
          class="btn btn-light d-flex align-items-center text-nowrap ms-5"
          href="#"
          ><span class="material-symbols-outlined"> point_scan </span>訂閱</a
        >
      </div>
    </div>
  </div>
</nav>
