<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container bg-gradient-y">
      <div class="btn btn-primary-100">btn</div>
      <div class="btn btn-primary-200">btn</div>
      <div class="btn btn-primary-300">btn</div>
      <div class="btn btn-primary-400">btn</div>
      <div class="btn btn-primary-500">btn</div>
    </div>

    <div class="container radial-gradient">
      <p class="text-white">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores eius
        reprehenderit eos? Animi in eaque, eveniet veritatis iure autem
        doloribus reprehenderit rem ut natus voluptatum quam nobis suscipit
        incidunt cum.
      </p>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
