<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <!-- material symbol point scan-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container bg-gradient-y">
      <div class="btn btn-primary-100">btn</div>
      <div class="btn btn-primary-200">btn</div>
      <div class="btn btn-primary-300">btn</div>
      <div class="btn btn-primary-400">btn</div>
      <div class="btn btn-primary-500">btn</div>
    </div>

    <div class="container radial-gradient">
      <p class="text-white">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores eius
        reprehenderit eos? Animi in eaque, eveniet veritatis iure autem
        doloribus reprehenderit rem ut natus voluptatum quam nobis suscipit
        incidunt Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Voluptate placeat velit dolorum. Soluta animi esse explicabo, maxime non
        illum officiis dolorum dolor velit tempora fugit vitae nemo accusamus
        labore incidunt. Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. In sed expedita doloribus dicta odio accusantium repellat fuga
        praesentium sit repudiandae, eius nulla quisquam, rerum esse totam
        similique ex at, nihil magni est aperiam recusandae neque quos?
        Necessitatibus voluptatibus temporibus est cumque repellat, voluptatum
        suscipit nemo alias sed et veritatis sequi earum vel eligendi ut dolorem
        possimus ea, provident tenetur maiores. Molestiae veritatis ratione
        minima quae est, cupiditate ea repellendus ipsa quos eum iste
        voluptatibus, corrupti doloribus labore facilis! Mollitia exercitationem
        rerum, ipsam id quidem assumenda ea? Sapiente sint consequatur nisi
        dolorum tempore ipsum cumque tenetur autem quibusdam explicabo eveniet,
        adipisci ut, maiores illum repudiandae modi sequi, soluta impedit!
        Assumenda libero delectus sequi eligendi earum sunt corrupti laudantium
        similique sed, laboriosam architecto doloribus veritatis, magnam iusto
        error maiores, illo ipsa magni modi quaerat natus eius doloremque!
        Tempore eius quas repellat corporis temporibus. Perspiciatis, animi
        minima id temporibus facere quidem quibusdam ab amet incidunt quas optio
        soluta accusantium error molestiae laboriosam placeat ipsa tempore
        laborum? Tempore cupiditate dolore pariatur, expedita, voluptatibus
        aliquam unde tempora officia maxime esse voluptates doloribus vitae
        deleniti reiciendis accusamus amet atque accusantium ullam adipisci
        iure. Assumenda ipsa corporis provident, saepe reiciendis molestiae
        labore at velit a dolore, similique officia sit amet nemo eum aperiam?
        Debitis, minima ipsum. Est eveniet eum nostrum nemo fugit dolores optio
        harum tenetur error delectus inventore voluptatibus vel distinctio,
        natus quia culpa reprehenderit tempora aperiam perspiciatis blanditiis.
        Voluptatem aperiam, distinctio rem id ullam repellendus necessitatibus
        accusamus excepturi vitae ratione, omnis ab voluptatibus placeat!
        Consectetur praesentium, qui possimus neque ipsa voluptatibus, fugiat
        quae odit aut aliquam molestiae eius vero at error aspernatur rerum.
        Quos harum a sequi recusandae beatae doloribus fuga adipisci ullam
        delectus error? Consequuntur quibusdam hic in soluta nostrum suscipit
        ducimus amet magnam eum, quasi sunt ipsa perferendis sequi adipisci quas
        dignissimos ad dolorum nam error laboriosam? Error, non. Recusandae
        inventore eligendi, consequatur odio obcaecati laboriosam eius atque quo
        accusamus ea cum quisquam neque. Illum maiores dicta consectetur quos
        dolore accusantium possimus mollitia fugiat saepe, eveniet molestias?
        Illum enim corrupti ex eos rem veniam iure nemo consequuntur? Alias quo
        earum rem, fugit quidem nemo quae officia vitae! A eligendi autem
        officia odit. Harum quia reprehenderit dicta cupiditate quas eius. Harum
        iusto nesciunt inventore nam in, assumenda beatae quis at doloribus
        vitae pariatur facere veniam fugiat dolorum aliquid odio delectus iste
        vero exercitationem excepturi! Assumenda, ipsam? Odio porro sapiente
        corporis aliquam quidem laborum natus ea earum optio, ad mollitia
        inventore repellendus quasi illo similique velit amet cumque labore
        alias! Dicta minus aut rerum nisi aliquam expedita minima, ad dolorem in
        suscipit. Illum, sed! Praesentium, suscipit! Alias vel eius, sapiente
        est accusamus tempore aperiam optio nam suscipit fuga, repellat
        similique veniam officiis. Fugit ea eaque perspiciatis non illo ab totam
        porro quaerat nobis, facilis consequuntur eos molestiae minima iste iure
        maiores, placeat eligendi sunt explicabo quam, natus repellendus. Quia
        deleniti numquam, iusto voluptas sit provident quisquam accusantium
        laboriosam, repellendus ad rerum maxime sint soluta consequatur autem
        vitae ducimus eum earum! Ex ullam veritatis vel? Molestiae?
      </p>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
